#root {
  max-width: 100vw;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px;

  .logo-container{
    display: flex;

    img{
      width: 100px;
      height: 100px;
    }
  }

  .logo-label{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .logo-text-bold{
      font-weight: 800;
      font-size: 34px;
    }
    .logo-text-regular{
      font-weight: 400;
      font-size: 18px;
    }
  }
  
  .menu-options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  a{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    &:hover{
      color: #7223cf;
      transition: 500ms;
      opacity: 0.7;
    }
  }

  button{
    border-radius: 24px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;

    div{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      height: 100%;
      width: 100%;
      padding: 16px 24px;
      border-radius: 24px;
      border: none;
    }

    .btn-face-white{
      color: rgb(51, 51, 51);
      background-color: white;
    }

    .btn-face-color{
      color: white;
      background-color: #7223cf;
      display: none;
      /* animation: appear 600ms linear 200ms forwards; */
      
    }

    &:hover{
      .btn-face-white{
        display: none;
      }
      .btn-face-color{
        display: flex;
        animation: appear 600ms linear 200ms forwards;
      }
    }

  }

}


